streamlit==1.46.0
pandas
plotly>=5.0.0
python-dotenv

# Snowflake + Snowpark
snowflake-connector-python==3.16.0
snowflake-snowpark-python
snowflake-sqlalchemy

# SQLAlchemy for database connections
sqlalchemy>=1.4,<2.0
